@media (max-width: 450px) {
  .App {
    header {
      .TE {
        margin-right: 15px;
      }
      div {
        h4 {
          margin-right: 15px;
        }
        h4:last-child {
          margin-right: 0 !important;
        }
      }
      @media (max-width: 320px) {
        div {
          h4 {
            font-size: 10px;
            margin-right: 5px;
          }
        }
      }
    }
    main {
      padding: 0 10px;
      padding-top: 50px;

      .about {
        margin-bottom: 50px;
        h1 {
          font-size: 50px;
          margin: 10px 0;
        }
        h4 {
          font-size: 16px;
          margin: 10px 0;
        }
        .mail {
          font-size: 10px;
        }

        div {
          img {
            width: 20px !important;
          }
          button {
            font-size: 10px;
          }
        }
      }
      .services,
      .skills {
        margin-bottom: 100px;
        @media (max-width: 320px) {
          .container {
            .skills__div {
              min-width: 250px;
              height: 350px;
            }
          }
        }
      }
      .services {
        @media (max-width: 320px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      .projects {
        .container {
          .project__block {
            .timer-img {
              @media (max-width: 400px) {
                img {
                  left: -180px;
                }
              }
              @media (max-width: 370px) {
                img {
                  left: -160px;
                }
              }
              @media (max-width: 340px) {
                img {
                  left: -150px;
                }
              }
              @media (max-width: 320px) {
                left: 20px;
                height: 278px;
                img {
                  left: -135px;
                  height: 278px;
                  width: 210%;
                }
              }
              @media (max-width: 300px) {
                left: 20px;
                height: 240px;
                img {
                  left: -125px;
                  height: 244px;
                  width: 210%;
                }
              }
            }
            .left-img {
              height: 300px;
              @media (max-width: 340px) {
                height: 280px;
              }
              @media (max-width: 300px) {
                height: 260px;
              }
              @media (max-width: 280px) {
                height: 240px;
              }
              img {
                left: -180px;
                @media (max-width: 370px) {
                  left: -160px;
                }
                @media (max-width: 340px) {
                  left: -150px;
                }
                @media (max-width: 320px) {
                  left: -140px;
                }
                @media (max-width: 290px) {
                  left: -130px;
                }
              }
            }
            .right-img {
              @media (max-width: 370px) {
                img {
                  height: 294px;
                }
              }
            }
            .block__right {
              div {
                h3 {
                  font-size: 20px;
                  max-width: 300px;
                }
              }
            }
            .flexpro-img {
              width: 100%;
              @media (max-width: 380px) {
                img {
                  right: 190px;
                  width: 210%;
                }
              }
              @media (max-width: 350px) {
                height: 288px;
                img {
                  width: 210%;
                  right: 170px;
                }
              }
              @media (max-width: 310px) {
                height: 276px;
                img {
                  width: 250%;
                  right: 180px;
                }
              }
            }
          }
        }
      }
    }
  }
}
