@import "./fonts/stylesheet.css";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #83838398;
}
* {
  background-color: var(--color-background);
  color: var(--color-font);
  font-family: "SF UI Display", sans-serif;
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}

.App {
  animation: fade-in 3s;

  header {
    display: flex;
    padding: 0 180px;
    justify-content: space-between;
    position: sticky;
    z-index: 99;
    top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    background: var(--color-background);
    --webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    .TE {
      background-color: transparent;
      margin: 20px 0;
    }
    div {
      display: flex;
      background-color: transparent;
      box-sizing: border-box;

      align-items: center;

      h4 {
        position: relative;
        margin-right: 30px;
        background-color: transparent;
        cursor: pointer;
        font-size: 17px;
        margin-top: 20px;
        font-weight: 200;
        margin-bottom: 20px;
        font-family: "SF UI Display Light";
        letter-spacing: 2px;
        transition: color 0.3s ease-in-out;
      }
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-right: 20px;
        background-color: transparent;
      }
      h4::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2.5px;
        background-color: #9845e8;
        transition: width 0.1s;
      }

      h4:hover::after {
        width: 100%;
        transition-duration: 0.3s;
      }
    }
    @media (max-width: "550px") {
      div {
        h4 {
          font-size: 12px;
        }
      }
    }

    .active {
      color: #9845e8;
    }
    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
  main {
    padding: 0 90px;
    padding-top: 200px;

    @media (max-width: 1150px) {
      padding: 0 40px;
      padding-top: 200px;
    }
    @media (max-width: 700px) {
      padding: 0 40px;
      padding-top: 100px;
    }

    .about {
      margin-bottom: 200px;
      background-color: transparent;
      @media (max-width: 700px) {
        margin-bottom: 100px;
      }
      h4 {
        font-family: "SF UI Display Thin";
        background-color: transparent;
      }
      h1 {
        font-size: 96px;
        font-family: "SF UI Display Ultralight";
        background-image: linear-gradient(#9845e8, #33d2ff, #dd5789);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
      }
      h4 {
        font-weight: 300;
        font-size: 25px;
        line-height: 120%;
        font-family: "SF UI Display Thin";
      }
      div {
        align-items: center;
        background-color: transparent;

        .resume__btn {
          border-radius: 10px;
          padding: 10px;
          border: 1px solid;
          border-image: linear-gradient(to right, #9845e8, #33d2ff, #dd5789);
          border-image-slice: 1;

          // color: #e9eff6;
          cursor: pointer;
          margin-right: 20px;
          // background-color: #9845E8;
        }
      }
    }
    .services {
      margin-bottom: 200px;
      background-color: transparent;
      h2 {
        font-size: 40px;
        letter-spacing: 2px;
        font-family: "SF UI Text Regular";
        margin-top: 0;
        margin-bottom: 50px;
        background-color: transparent;
      }
      .container {
        background-color: transparent;
        .container_block {
          background-color: transparent;
          display: flex;
          justify-content: space-between;

          div {
            border-radius: 15px;
            text-align: center;
            padding: 20px;
            align-items: flex-start;
            flex-direction: column;
            display: flex;
            text-align: center;
            justify-self: center;
            h3 {
              font-size: 20px;
              background-color: transparent;
              margin: 0;
              max-width: 320px;
              margin-bottom: 15px;
              align-items: center;
              margin: 0 auto;
              height: 50px;
              color: white;
              font-family: "SF UI Display Medium";
              letter-spacing: 2px;
            }
            h4 {
              font-size: 17px;
              background-color: transparent;
              color: rgb(29, 27, 27);
              font-weight: 600;
              line-height: 130%;
              font-family: "SF UI Display Thin";
            }
          }
          div:not(:last-child) {
            margin-right: 60px;
          }
        }
        .container_block:first-child {
          margin-bottom: 100px;
        }
      }
      @media (max-width: 1100px) {
        .container {
          .container_block {
            div {
              padding: 10px;
            }
            div:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
      @media (max-width: 900px) {
        .container {
          .container_block {
            display: block;
            div {
              border-radius: 20px;
              margin-bottom: 20px;
              h4 {
                color: whitesmoke;
                line-height: 150%;
                font-weight: 600;
                letter-spacing: 1px;
              }
            }
            div:not(:last-child) {
              margin-right: 0;
            }
          }
          .container_block:first-child {
            margin-bottom: 0;
          }
          .container_block:last-child {
            div:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .skills {
      margin-bottom: 200px;
      background-color: transparent;
      h2 {
        font-size: 40px;
        background-color: transparent;
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 50px;
      }
      .container {
        display: flex;
        background-color: transparent;
        justify-content: space-between !important;
        flex-wrap: wrap;
        height: 700px;

        .skills__div {
          // background-image: linear-gradient(#e97521,#f7f2f200);

          min-width: 300px;
          height: 300px;
          border-radius: 20px;
          overflow: hidden;
          border: none;
          position: relative;
          h3 {
            background-color: transparent;
            font-size: 23px;
            font-weight: 300;
            margin: 0;
            margin-bottom: 10px;
            font-family: "SF UI Display Ultralight";
          }
          img {
            width: 50px;
            height: 50px;
            background-color: transparent;
          }
          div {
            background-color: transparent;
            position: absolute;
            opacity: 0;
            transform: translateY(100%);
            transition: transform 0.5s, opacity 0.5s;
            ul {
              background-color: transparent;

              margin: 0;
              padding: 0;
              li {
                font-size: 16px;
                font-weight: 300;
                background-color: transparent;

                margin-bottom: 5px;
                font-family: "SF UI Display Regular";
              }
            }
          }
        }
        .skills__div:hover {
          div {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      @media (max-width: 768px) {
        .container {
          @media (max-width: 680px) {
            height: auto;
            .skills__div {
              margin-bottom: 40px !important;
            }
          }
          .skills__div {
            margin: 0 auto;
          }
        }
      }
    }
    .projects {
      background-color: transparent;
      h2 {
        font-size: 40px;
        letter-spacing: 2px;
        background-color: transparent;
      }
      .container {
        position: relative;
        background-color: transparent;
        @media (max-width: 1150px) {
          .reverse {
            flex-direction: column-reverse !important;
          }
        }
        .project__block {
          background-color: transparent;
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          // justify-content: space-between;
          margin-bottom: 60px;
          border-bottom: 1px solid;
          border-image: linear-gradient(to right, #ff0000, #00ff00) 1;

          @media (max-width: "1150px") {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
          }

          .left-img,
          .flexpro-img,
          .right-img,
          .timer-img {
            width: 500px;
            margin-top: 40px;
            margin-right: 30px;
            height: 450px;
            border-radius: 20px !important;
            overflow: hidden;
            position: relative;
            top: -20px;

            iframe {
              width: 100%;
              height: 100%;
              overflow: hidden;
            }
            @media (max-width: "1150px") {
              position: relative;
              // left: 25px;

              margin: 0 auto;
              margin-top: 40px;
              width: 800px;
              height: 700px;
            }
            @media (max-width: "900px") {
              width: 450px;
            }

            @media (max-width: "550px") {
              width: 350px;
            }
          }
          .timer-img {
            top: 40px;
            @media (max-width: 1150px) {
              top: 0;
            }
          }

          // .timer-img {
          //   width: 450px;
          //   margin-top: 40px;
          //   margin-right: 39px;
          //   height: 400px;
          //   border-radius: 20px !important;
          //   overflow: hidden;

          //   iframe {
          //     width: 100%;
          //     height: 100%;
          //   }
          //   @media (max-width: 1150px) {
          //     width: 800px;
          //     height: 700px;
          //     margin-right: 0;
          //   }
          // }

          .block__right {
            // position: absolute;
            // left: 50%;
            // transition: left 0.5s ease-out;

            background-color: transparent;
            // width:0px;
            @media (max-width: "1150px") {
              text-align: center;
            }
            div {
              // position: absolute;
              bottom: 0;
              width: max-content;
              background-color: transparent;
              h2 {
                font-size: 18px;
                margin-bottom: 40px;
                font-family: "SF UI Display Bold";
                background-color: transparent;
              }
              h3 {
                font-size: 30px;
                margin-bottom: 40px;
                max-width: 550px;
                font-family: "SF UI Display Ultralight";
                background-color: transparent;
                @media (max-width: "550px") {
                  max-width: 400px;
                }
              }
              h4 {
                font-size: 18px;
                margin-bottom: 50px !important;
                font-family: "SF UI Display Thin";
                background-color: transparent;
              }
              .buttons {
                display: flex;
                margin-top: 50px;
                margin-bottom: 40px;
                @media (max-width: "1150px") {
                  margin: 0 auto;
                }

                .work {
                  display: flex;

                  align-items: center;
                  border-image: linear-gradient(
                    to right,
                    #9845e8,
                    #33d2ff,
                    #dd5789
                  );
                  border-image-slice: 1;
                  margin-right: 20px;
                  padding: 8px;
                  padding-left: 12px;
                  height: 40px;
                  img {
                    margin: 0;
                  }
                }
              }
            }
          }

          // .block__right.show {
          //   left: 0%; /* При добавлении класса "show" блок выезжает влево */
          // }
        }
      }
    }
    .feedback {
      background-color: transparent;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 70px 250px;
      background-color: transparent;
      @media (max-width: 1340px) {
        padding: 60px 200px;
      }
      h2 {
        font-size: 36px;
        background-color: transparent;

        margin-top: 0;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 38px;
        font-weight: 400;
        background-color: transparent;
      }
      form {
        background-color: transparent;
        justify-content: space-between;
        display: flex;

        flex-wrap: wrap;
        input,
        select {
          padding: 10px 8px;
          border-color: var(--color-border);
          border-radius: 9px;
          margin-bottom: 20px;
          font-size: 18px;
          background-color: transparent;
          border-width: 1px;
          transition: all 0.3s ease-in-out;
        }

        input:focus {
          border-color: var(--color-focus);
          border-width: 1px;
          border-style: solid;
          outline: none;
        }

        #message {
          width: 100%;
          height: 135px;
        }
        select {
          width: 266px;
        }
        button {
          background-color: #2047a9;
          font-size: 18px;
          padding: 16px 103px;
          color: white;
          border: none;
          margin: 0 auto;
          margin-top: 12px;
          border-radius: 7px;
          cursor: pointer;
        }
        button:focus {
          outline: none;
        }
      }
      .popup {
        position: fixed;
        top: 30%;
        right: 0;
        transform: translateY(-50%);
        width: 300px;
        background-color: #fff;
        z-index: 999;
        border-radius: 10px;
        right: -400px;
        transform: translateY(-50%);
        animation: slide-in 0.5s ease-out forwards;
        @keyframes slide-in {
          from {
            right: -400px;
          }
          to {
            right: 0;
          }
        }

        .popup-content {
          padding: 20px;
          text-align: center;

          p {
            margin-bottom: 20px;
            font-size: 16px;
          }
          button {
            padding: 8px 16px;
            border: none;
            background-color: #2047a9;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-size: 10px;
          }
          button:focus {
            outline: none;
          }
        }
      }
      @media (max-width: 1150px) {
        padding: 70px 150px;
        form {
          justify-content: center;
          input,
          select {
            margin-right: 15px;
          }
        }
        @media (max-width: 600px) {
          padding: 70px 0px;
          form {
            @media (max-width: 520px) {
              display: flex;
              justify-content: center;
            }
            input,
            select {
              font-size: 16px;
            }
            select {
              max-width: 215px;
            }
            #message {
              max-width: 340px;
              height: 100px;
              margin: 0 auto;
              margin-bottom: 20px;
            }
          }
        }
        @media (max-width: 480px) {
          h2 {
            font-size: 30px;
          }
          h3 {
            font-size: 16px;
          }
          form {
            @media (max-width: 402px) {
              justify-content: center;
            }

            button {
              font-size: 16px;
              padding: 8px 50px;
            }
            #message {
              margin: 0 auto;
              margin-bottom: 20px;
              max-width: 290px;
            }
          }
        }
        @media (max-width: 480px) {
          h2 {
            font-size: 20px;
          }
          h3 {
            font-size: 13px;
          }
          form {
            input,
            select {
              font-size: 13px;
            }
            select {
              max-width: 194px;
            }
            #message {
              height: 70px;
            }
            button {
              font-size: 13px;
              padding: 8px 50px;
            }
          }
        }
      }
    }
  }
  footer {
    text-align: center;

    justify-content: center;
    // display: flex;

    .form-inner {
      padding: 50px;
    }
    .form-inner input,
    .form-inner textarea {
      display: block;
      width: 100%;
      padding: 0 20px;
      margin-bottom: 10px;
      background: #e9eff6;
      line-height: 40px;
      border-width: 0;
      border-radius: 20px;
      font-family: "Roboto", sans-serif;
    }
    .form-inner input[type="submit"] {
      margin-top: 30px;
      background: #f69a73;
      border-bottom: 4px solid #d87d56;
      color: white;
      font-size: 14px;
    }
    .form-inner textarea {
      resize: none;
    }
    .form-inner h3 {
      margin-top: 0;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: #707981;
    }

    label {
      margin-bottom: 5px;
    }

    input,
    textarea {
      width: 200px;
      padding: 5px;
      margin-bottom: 10px;
    }
  }
}
@import url(./colorTheme.scss);
@import "./media/mobile.scss";
